/* Assignments.css */
.sub-heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 30px;
}

/* Buttons for actions */
.assignment-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 20px;
}

/* Updated Button Styles */
.new-assignment-button,
.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  width: fit-content;
  height: fit-content;
  background-color: var(--main);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  width: fit-content;
  height: fit-content;
  background-color: rgba(255, 0, 0, 0.676);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgba(240, 1, 1, 0.884);
}

.new-assignment-button:hover,
.edit-button:hover {
  background-color: #4bb7a8;
}

/* Table Styling */
.assignments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto; /* Pushes table to the right */
  margin-right: 20px; /* Spacing on the right */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.assignments-table th,
.assignments-table td {
  text-align: left;
  padding: 10px 15px;
  border-bottom: 1.5px solid var(--table-line);
}

.assignments-table th {
  background-color: #f9f9f9;
  font-weight: 600;
}

.assignments-table td {
  background-color: #fff;
}

/* Status Styles */
.status {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Open Sans';
}

.status.not-started {
  background-color: #EFEFEF;
  color: #8A8A8A;
}

.status.completed {
  background-color: var(--main);
  color: var(--white);
}

.status.in-progress {
  background-color: #1d82ede8;
  color: var(--white);
  font-weight: bolder;
}
