/* Assignments.css */
.main-content {
  margin-top: 102.9px;
  padding: 40px;
  background-color: var(--white);
}

.sub-heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 30px;
}

.assignments-table {
  width: 100%;
  border-collapse: collapse;
}

.assignments-table th,
.assignments-table td {
  text-align: left;
  padding: 10px 15px;
  border-bottom: 1.5px solid var(--table-line);
}

.assignments-table th {
  background-color: var(--white);
}

/* Status Styles */
.status {
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 12px;
}

.status.not-started {
  background-color: #EFEFEF;
  color: #8A8A8A;
}

.status.completed {
  background-color: var(--main);
  color: var(--white);
}
