/* Sidebar.css */

.sidebar {
  width: 268px;
  background-color: var(--white);
  border-right: 1px solid var(--table-line);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  position: fixed;
  height: 100vh;
}

.logo-design {
  text-align: center;
  font-weight: bold;
  font-size: var(sub-heading);
  margin-bottom: 50px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 191px;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 20px;
  color: var(--white);
  background-color: var(--main); /* Default to green when active */
}

.sidebar-link.inactive {
  background-color: var(--lightest); /* Light grey when inactive */
  color: var(--main);
}

.sidebar-link.active {
  background-color: var(--main); /* Green when active */
  color: var(--white);
}

.sidebar-link-text-white,
.sidebar-link-text-inactive {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
}

.logout-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 191px;
  height: auto;
  left: 38.29px;
  bottom: 100px;
}

/* Log out Button Styles */
.logout-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  width: 191px;
  height: 38.29px;
  background: var(--log-out);
  border-radius: 8px;
  cursor: pointer;
}

.lo-button{
  display: flex;
  align-items: center;
  border-color: transparent;
  cursor: pointer;
}

.logout-icon {
  width: 22.97px;
  height: 22.97px;
  margin-right: 10px;
}

.logout-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--text);
}
